.marg{
	width: 250px;
	height: 250px;
	border: 3px solid #e2e2e2;
	margin: 10px;
	text-align: center;
	padding-top: 25px;
}
.bl {@include parrafo;;
		margin-top: 20px;
		height: 100px;
		padding: 20px 0 0 20px;
		font-size: 15px;
		text-align: left;
	span{
		@include texto;
	}
}
.media-object{
	border: 3px solid white;
	position: relative;
	float: left;
}