.bajobanner p {
	display:inline-block;
	padding: 2px;
	font-size: 10px;
	margin-right:5px;
}
.fondo-rojo {
	background-color:#FB0909;
}
#derecha {
	display: inline-block;
	font-size: 14px;
	margin-right: 5px;
}
.bg {
	background-color: red;
	width: 70%;
	text-align: center;
}
#ides{
	font-size: 30px;
}
